<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learning Sass</title>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </nav>

    <h1>Learning Sass</h1>
    <p>Liquorice caramels marzipan biscuit. Chocolate liquorice candy canes lemon drops jelly cookie cake chupa chups chocolate. Fruitcake chocolate apple pie. Jujubes ice cream cheesecake powder chupa chups bear claw cake liquorice jelly.</p>
  </body>
</html>
