$primaryColor: #eeccff;

$firstValue: 62.5%;
$firstValue: 24px !default;

body {
  // variable scope, when declared within selector, it is scoped within
  $primaryColor: #ccc !global; // set a variable globally from within a declaration
  background: $primaryColor;
}

p {
  color: $primaryColor;
}

// when compiled, our paragraph selector's color is #eeccff
